body {
    background-color: darkslategray;
}

h1 {
    text-align: center;
    color: white;
}

table {
    width: 640px;
    margin: 0 auto;
    background-image: url(./kepek/hatter.jpg);
}

td {
    margin: 5px;
    padding: 5px;
}

p {
    font-size: large;
}

.tablakep {
    border: 1px solid black;
}

a {
    font-size: large;
    color: black;
}